@font-face {
    font-family: Josefin_Sans;
    src: url(/Font/Josefin_Sans/static/JosefinSans-Medium.ttf);
}

* {
    font-family: "Josefin_Sans";
}

.navbar {
    background-color: #0866FF !important;
}

.navbar-brand {
    color: white !important;
}

.btn-primary{
    background-color:  #0866FF;
}

.btn-primary:hover{
    background-color:  #0866FF;
}

.btn-primary:active{
    background-color:  #0866FF !important;
}