* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: aliceblue;
}

.navbar {
    background-color: #0866FF !important;
}

.navbar-brand {
    color: white !important;
}

.btn-primary {
    background-color: #0866FF;
}

.btn-primary:hover {
    background-color: #0866FF;
}

.btn-primary:active {
    background-color: #0866FF !important;
}