@font-face {
    font-family: Helvetica Neue;
    src: url(Fonts/Helvetica\ Neue\ Condensed\ Bold.ttf);
}

body {
    font-family: helvetica neue;
    background-color: black;    
}

.navbar {
    background: #0025ff;
}

.nav-item {
    float: left;
    margin-right: 1.5rem;
    font-family: helvetica neue;
    font-size: medium;
    cursor: pointer;
    font-weight: bolder !important;
    white-space: nowrap;
}

.nav-item>a {
    color: white;
}

.navbar-brand {
    margin-right: 50px;
}

.pepsi-btn {
    font-size: medium;
    font-weight: bolder;
    height: 2.3em;
    margin-right: 2%;
    padding: 2px 30px;
    border: 2px solid #fff;
    border-radius: 1.8em;
    background: transparent;
    color: #fff;
    font-family: Helvetica Neue;
    cursor: pointer;
}

@-webkit-keyframes slideInUp {
    0% {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible
    }

    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

@keyframes slideInUp {
    0% {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible
    }

    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

.pepsi-btn:hover {
    background-color: white;
    color: #0025ff;
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
}

@-webkit-keyframes heartBeat {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    14% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3)
    }

    28% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    42% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3)
    }

    70% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes heartBeat {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    14% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3)
    }

    28% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    42% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3)
    }

    70% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

.logo:hover {
    -webkit-animation-name: heartBeat;
    animation-name: heartBeat;
    -webkit-animation-duration: 1.3s;
    animation-duration: 1.3s;
    -webkit-animation-duration: calc(var(--animate-duration)*1.3);
    animation-duration: calc(var(--animate-duration)*1.3);
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    animation-timing-function: linear !important;
}

.hero__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

/* 
.pepsi125>div>h2 {
    color: #fff;
    background-color: black;
    text-align: center;
    font-size: 125px;
    font-weight: bold;
    font-family: Helvetica neue, sans-serif;
} */

/* .pepsi125btn{
    color: #fff;
    border: none;
    text-decoration: none;
    background-color: #0025ff;
    padding: 0.6em 1em;
    margin: 1em 0 1.3em 0;
    cursor: pointer;
} */

.pepsi125h1 {
    color: #fff;
    background-color: black;
    text-align: center;
    font-weight: 400;
    margin-bottom: 0%;
    display: block;
    font-size: 100px;
    margin: 0;
}

.pepsi125h2 {
    color: #fff;
    background-color: black;
    text-align: center;
    font-weight: 400;
    margin-top: 0%;
    font-size: 60px;
    margin: 0;
}

.pepsi125 {
    background-color: black;
    text-align: center;
    padding-top: 30px;
    margin-top: 0%;
}

.pepsi125-btn {
    text-align: center;
    color: #fff;
    background-color: #0025ff;
    cursor: pointer;
    font-size: 52px;
    line-height: 52px;
    padding: 0.55em;
    margin: 1em 0 1.3em 0;
}

.other__video {
    width: 100%;
    height: 100%;
    object-fit: cover !important;
    overflow: hidden;
    display: inherit;
}

.stayon {
    height: auto;
    width: 100%;
    padding-bottom: 44px;
    background-color: black;
}

.social__title {
    font-size: 62px;
    padding: 1rem;
    font-weight: 400;
    margin: 0;
    line-height: 1.15;
    color: #0025ff;
    text-align: center;
}

.social__item-container {
    border: 3px solid #1636ff;
    cursor: pointer;
}

.img>img{
    width: 15%;
    height: auto;
    /* border-bottom: 3px solid #0025ff; */
    /* border-top: 3px solid #0025ff; */
}

.img{
    justify-content: center;
    display: flex;
}

@-webkit-keyframes jello {

    0%,
    11.1%,
    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }

    22.2% {
        -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
        transform: skewX(-12.5deg) skewY(-12.5deg)
    }

    33.3% {
        -webkit-transform: skewX(6.25deg) skewY(6.25deg);
        transform: skewX(6.25deg) skewY(6.25deg)
    }

    44.4% {
        -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
        transform: skewX(-3.125deg) skewY(-3.125deg)
    }

    55.5% {
        -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
        transform: skewX(1.5625deg) skewY(1.5625deg)
    }

    66.6% {
        -webkit-transform: skewX(-.78125deg) skewY(-.78125deg);
        transform: skewX(-.78125deg) skewY(-.78125deg)
    }

    77.7% {
        -webkit-transform: skewX(.390625deg) skewY(.390625deg);
        transform: skewX(.390625deg) skewY(.390625deg)
    }

    88.8% {
        -webkit-transform: skewX(-.1953125deg) skewY(-.1953125deg);
        transform: skewX(-.1953125deg) skewY(-.1953125deg)
    }
}

@keyframes jello {

    0%,
    11.1%,
    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }

    22.2% {
        -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
        transform: skewX(-12.5deg) skewY(-12.5deg)
    }

    33.3% {
        -webkit-transform: skewX(6.25deg) skewY(6.25deg);
        transform: skewX(6.25deg) skewY(6.25deg)
    }

    44.4% {
        -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
        transform: skewX(-3.125deg) skewY(-3.125deg)
    }

    55.5% {
        -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
        transform: skewX(1.5625deg) skewY(1.5625deg)
    }

    66.6% {
        -webkit-transform: skewX(-.78125deg) skewY(-.78125deg);
        transform: skewX(-.78125deg) skewY(-.78125deg)
    }

    77.7% {
        -webkit-transform: skewX(.390625deg) skewY(.390625deg);
        transform: skewX(.390625deg) skewY(.390625deg)
    }

    88.8% {
        -webkit-transform: skewX(-.1953125deg) skewY(-.1953125deg);
        transform: skewX(-.1953125deg) skewY(-.1953125deg)
    }
}

.img>img:hover {
    -webkit-animation-name: jello;
    animation-name: jello;
    -webkit-transform-origin: center;
    transform-origin: center
}

.footer{
    background-color: #0025ff;
    color: #fff;
    width: 100%;
    height: 100%;
    padding: 2.5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 1.15;
}

.foot-logo{
    display: block;
    width: 101px;
    height: 101px;
}

.foot-list{
    margin: 0%;
    padding: 0%;
    list-style: none;
    column-count: 3;
    column-gap: 4rem;
    font-size: 25px;
    font-weight: bold;
    /* justify-content: center; */
}

.foot-links{
    /* display: flex; */
    flex-direction: column;
    margin-top: 1rem;
    justify-content: space-around;
    height: 100%;
    /* padding: 2.5%; */
    /* -webkit-box-align: center; */
    /* -ms-flex-align: center; */
    /* align-items: center; */
    /* -webkit-box-pack: justify; */
    /* -ms-flex-pack: justify; */
    justify-content: space-between;
    padding: 0 0.75em;
}