@font-face{
    font-family: "Fidel-Black";
    src: url("https://db.onlinewebfonts.com/t/7d89fd5a3b1077fea23b1658f1f8d320.eot");
    src: url("https://db.onlinewebfonts.com/t/7d89fd5a3b1077fea23b1658f1f8d320.eot?#iefix")format("embedded-opentype"),
        url("https://db.onlinewebfonts.com/t/7d89fd5a3b1077fea23b1658f1f8d320.woff")format("woff"),
        url("https://db.onlinewebfonts.com/t/7d89fd5a3b1077fea23b1658f1f8d320.woff2")format("woff2"),
        url("https://db.onlinewebfonts.com/t/7d89fd5a3b1077fea23b1658f1f8d320.ttf")format("truetype"),
        url("https://db.onlinewebfonts.com/t/7d89fd5a3b1077fea23b1658f1f8d320.svg#Fidel-Black")format("svg");
    font-weight:normal;
    font-style:normal;
    font-display:swap;
}

@font-face {
    font-family: "Helvetica Neue WGL";
    src: url("https://db.onlinewebfonts.com/t/32439590f99f4c85f653dddb5c1e2118.eot");
    src: url("https://db.onlinewebfonts.com/t/32439590f99f4c85f653dddb5c1e2118.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/32439590f99f4c85f653dddb5c1e2118.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/32439590f99f4c85f653dddb5c1e2118.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/32439590f99f4c85f653dddb5c1e2118.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/32439590f99f4c85f653dddb5c1e2118.svg#Helvetica Neue WGL")format("svg");
}
 